# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# IDE or Editor folders
.idea/
.vscode/

# Logs
*.log

# Flask specific
instance/
.env

# Environment files
.env
.env.*
